body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

.headerStyle {
  height: 80px;
  background-color: #75c9b7;
}
.headerTitle {
  font-size: 20px;
  color: white;
}

.headerStyle h2 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
}

.tableStyle {
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #000000;
  border-radius: 10px;
}

.tableStyle tr:last-child td {
  padding-bottom: 20px;
}

.tableStyle td {
  padding-top: 20px;
  text-align: center;
}

.boatRowStyle {
  margin-right: 20px;
  margin-left: 20px;
  margin-top:20px;
  background-color: #0378a5;
  height: 30px;
  position: relative;
}

.boatStyle {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  bottom: 5px;
}

.boatLabelStyle{
  transform: translate(1209px);
  z-index: 999;
  top: -18px;
  position: absolute;
  width: 50px;
  text-align: center;
  left: -17px;
}

.boatListCore{
  position: relative;
  margin-top: 40px;
}

/* BANDA */
.bandStyle{
  border: 1px solid #8a9300ba;
  height: calc(100% + 50px);
  position: absolute;
  top: -25px;
  /* left: 20px; */
  z-index: 999;
}

.bandLabelStyle{
  position: absolute;
  top: -41px;
  z-index: 999;
  left: -25px;
  text-align: center;
  width: 50px;
}
